<div class="container" *ngIf="info">
  <div class="col-lg-12">
    <h1>{{ info.title }}</h1>
    <hr>
  </div>

  <div class="col-lg-12">
    <!-- <span>{{ info.embed_html }}</span> -->
    <!-- <a href="{{ info.url }}">link to twitch</a> -->
    <!-- <iframe src="{{ info.embed_url }}" frameborder="0"></iframe>
    <iframe src="{{ embed_url }}" frameborder="0"></iframe>
    <iframe src="info.embed_url" frameborder="0"></iframe>
    <iframe src="embed_url" frameborder="0"></iframe> -->

    <!-- Click for Video Works -->
    <!-- <a href="{{ info.embed_url }}"><img src="{{ info.thumbnails.medium }}"></a> -->

    <!-- Click doesnt Work -->
    <!-- <a href="{{ info.embed_html }}"><img src="{{ info.thumbnails.medium }}"></a> -->

    <!-- No Display for Video -->
    <!-- <video src="{{ info.embed_url }}" type="video/mp4"></video>
    <video src="{{ info.embed_html }}" type="video/mp4"></video>
    <video src="https://clips.twitch.tv/embed?clip={{ info.slug }}" type="video/mp4"></video> -->

    <!-- <iframe
   src="https://clips.twitch.tv/embed?clip={{ info.slug }}"
   height="360"
   width="640"
   frameborder="0"
   scrolling="no"
   allowfullscreen="true">
</iframe>

<iframe
   src="https://clips.twitch.tv/embed?clip=info.slug"
   height="360"
   width="640"
   frameborder="0"
   scrolling="no"
   allowfullscreen="true">
</iframe> -->


<!-- <a href="{{ info.embed_url }}">hi</a> -->

<p>{{ info.embed_url | json }}</p>
<p>{{ info.embed_url }}</p>

<iframe
   src= {{ info.embed_url | json}}
   height="360"
   width="640"
   frameborder="0"
   scrolling="no"
   allowfullscreen="true">
</iframe> -->



  </div>

  <div class="col-lg-12">
    <p><a href="{{ info.channel_url }}">{{ info.display_name }}</a></p>
    <p *ngIf='info.game'>Playing: {{ info.game }}</p>
    <p>{{ info.views }} views</p>
    <p>Created by: {{ info.curator.display_name }}</p>
  </div>
</div>

<!-- [src]="phone.image" -->



<p *ngIf="loged"></p>