<p *ngIf="errorMessage" class="error">
  {{ errorMessage }}
</p>

<div class="login-clean">
  <form (ngSubmit)="doSignup()">
      <h2 class="sr-only">Sign Up</h2>
      <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
      <div class="form-group"><input id="username-input" class="form-control" type="text" [(ngModel)]="signUpInfo.username" name="usernameValue" placeholder="Username"></div>
      <div class="form-group"><input id="password-input" class="form-control" type="password"  [(ngModel)]="signUpInfo.password" name="passwordValue" placeholder="Password"></div>
      <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Signup</button></div><a [routerLink]="['login']" class="forgot">Already have account?</a></form>
</div>