iframe {
  width: 100%;
  height: 450px;
}

.clip-title {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}

.backdrop {
  background-color: rgba(149, 147, 152, 0.303);
  border-radius: 5px;
}

.col-spaceing {
  margin-top: 80px;
}

.info-space {
  padding: 10px;
}